params {

    container = 'lifebitai/biobank-scanner:latest'

    help = false
    outdir = 'results'

    //phenome scan
    pheno = false
    traitfile = false
    variablelist = false
    datacoding = false
    trait = false
    userId = "userId"
}

docker.enabled = true
process.container = params.container

profiles {

    standard{}
    test { includeConfig 'conf/test.config' }

}
