params {

    container = 'quay.io/lifebitai/biobank-scanner:latest'

    help = false
    resDir = 'results'

    //phenome scan
    phenofile = false
    traitofinterestfile = false
    variablelistfile = false
    datacodingfile = false
    traitofinterest = false
    userId = "userId"
}

docker.enabled = true
process.container = params.container

profiles {
    test { includeConfig 'conf/test.config' }
}
