params {
    
    container = 'lifebitai/phewas@sha256:b9c42a88254ca126fbb1e3dc4317b41f5681b1f58a1e040fc8ee28f66ea91b5e'

    help = false
    outdir = 'results'

    //phenome scan
    pheno = false
    traitfile = false
    variablelist = false
    datacoding = false
    userId = "userId"
}

docker.enabled = true
process.container = params.container


