params {

    phenofile = "s3://lifebit-featured-datasets/pipelines/phesant-data/phenotypes.csv"
    traitofinterestfile = "s3://lifebit-featured-datasets/pipelines/phesant-data/exposure.csv"
    variablelistfile = "s3://lifebit-featured-datasets/pipelines/phesant-data/outcome-info.tsv"
    datacodingfile = "s3://lifebit-featured-datasets/pipelines/phesant-data/data-coding-ordinal-info.txt"
    traitofinterest = "exposure"
    userId = "userId"

}