params {

    pheno = "s3://lifebit-featured-datasets/pipelines/phesant-data/phenotypes.csv"
    traitfile = "s3://lifebit-featured-datasets/pipelines/phesant-data/exposure.csv"
    variablelist = "s3://lifebit-featured-datasets/pipelines/phesant-data/outcome-info.tsv"
    datacoding = "s3://lifebit-featured-datasets/pipelines/phesant-data/data-coding-ordinal-info.txt"
    traitcol = "exposure"
    userId = "userId"

}